body,
html {
  margin: 0;
  padding: 0;
  height: 100%; /* Make sure the body and html are also full height */
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.input-screen-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.input-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.back-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  width: 20px;
  margin: 10px;
  position: absolute;
  left: 10px;
  top: 10px;
}
